{% extends 'base.html' %}
{% block content %}

<h2>Producto</h2>

<form method="POST">
<input name="nombre" placeholder="Nombre" value="{{ producto[1] if producto else '' }}" class="form-control mb-2">
<input name="marca" placeholder="Marca" value="{{ producto[2] if producto else '' }}" class="form-control mb-2">
<input name="modelo" placeholder="Modelo" value="{{ producto[3] if producto else '' }}" class="form-control mb-2">
<input name="cantidad" placeholder="Cantidad" value="{{ producto[4] if producto else '' }}" class="form-control mb-2">
<input name="precio" placeholder="Precio" value="{{ producto[5] if producto else '' }}" class="form-control mb-2">

<button class="btn btn-success">Guardar</button>
</form>

{% endblock %}